openapi: 3.1.0
info:
  title: Account Kit API
  version: 1.0.0
  description: |
    The Account Kit API provides a suite of tools for managing user accounts,
    authentication, and billing for your application.
  contact:
    name: Account Kit Support
    email: support@account-kit.com
    url: https://developers.account-kit.com
  license:
    name: Proprietary
servers:
  - url: https://api.account-kit.com/v1
    description: Production
  - url: https://api.sandbox.account-kit.com/v1
    description: Sandbox

tags:
  - name: Authentication
    description: Endpoints for managing user authentication and sessions
  - name: Accounts
    description: Endpoints for managing user accounts
  - name: Billing
    description: Endpoints for managing subscriptions and billing

paths:
  /auth/token:
    post:
      summary: Request an access token
      operationId: createToken
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
      responses:
        '200':
          description: Access token issued successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/revoke:
    post:
      summary: Revoke an access token
      operationId: revokeToken
      tags: [Authentication]
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Token revoked
        '401':
          $ref: '#/components/responses/Unauthorized'

  /accounts:
    get:
      summary: List accounts
      operationId: listAccounts
      tags: [Accounts]
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Paginated list of accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      summary: Create an account
      operationId: createAccount
      tags: [Accounts]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreate'
      responses:
        '201':
          description: Account created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /accounts/{accountId}:
    parameters:
      - $ref: '#/components/parameters/AccountIdParam'
    get:
      summary: Get an account
      operationId: getAccount
      tags: [Accounts]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Account details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      summary: Update an account
      operationId: updateAccount
      tags: [Accounts]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdate'
      responses:
        '200':
          description: Account updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete an account
      operationId: deleteAccount
      tags: [Accounts]
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Account deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /billing/subscriptions:
    get:
      summary: List subscriptions
      operationId: listSubscriptions
      tags: [Billing]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of subscriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionList'
        '401':
          $ref: '#/components/responses/Unauthorized'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    AccountIdParam:
      name: accountId
      in: path
      required: true
      schema:
        type: string
      description: Unique identifier of the account
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
      description: Page number
    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      description: Items per page

  responses:
    BadRequest:
      description: Invalid request body or parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    TokenRequest:
      type: object
      required: [client_id, client_secret]
      properties:
        client_id:
          type: string
          description: Your application's client ID
        client_secret:
          type: string
          description: Your application's client secret
        grant_type:
          type: string
          enum: [client_credentials]
          default: client_credentials

    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          description: Seconds until token expiration
          example: 3600

    Account:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
        email:
          type: string
          format: email
        status:
          type: string
          enum: [active, suspended, cancelled]
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true

    AccountCreate:
      type: object
      required: [name, email]
      properties:
        name:
          type: string
        email:
          type: string
          format: email

    AccountUpdate:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
          format: email

    AccountList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Account'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    Subscription:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        account_id:
          type: string
        plan:
          type: string
          enum: [starter, growth, enterprise]
        status:
          type: string
          enum: [active, past_due, cancelled]
        current_period_end:
          type: string
          format: date-time

    SubscriptionList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Subscription'

    PaginationMeta:
      type: object
      properties:
        total:
          type: integer
        page:
          type: integer
        limit:
          type: integer
        pages:
          type: integer

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        code:
          type: string
